<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Nhập tên: </span>
  </div>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="container" style="border-style: solid;">
  <h2>Bài Test</h2>
  <p>Câu hỏi:Ai giỏi nhất ?</p>
  <form>
    <div class="radio">
      <label><input type="radio" name="optradio" >Hoàng</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Huy Hoàng</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio" >Nguyễn Huy Hoàng</label>
    </div>
      <div class="radio">
      <label><input type="radio" name="optradio" >Hoàng D14TTNT&TGMT</label>
    </div>
  </form>
</div>
<button type="button" class="btn btn-primary">Gửi bài</button>

</body>
</html>
